.logo {
    -fx-background-image: url(../images/logo-sagrada.png);
    -fx-background-position: center;
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
}
#roundTrack{
    -fx-background-size: 640px 127px
}

#cardBoard{
    -fx-background-color:red;
}
.die{
    -fx-background-position: center;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
}

.die-selected{
    -fx-background-position: center;
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
}

.die:hover {
}

.draftpool {
    -fx-background-color:#b2bec3;
}
.draftpool-name{
    -fx-padding: 5px;
    -fx-background-color:#636e72;
}
.draftpool-name Label{
    -fx-text-fill:#dfe6e9;
    -fx-font-size:0.9em;
}
/*--------------------------------wINDOW PATTERN----------------------------------------------------------------------*/
.windowPatternSpaces{

}
.window-pattern-background{
    -fx-background-color:#636e72;
}
.window-pattern {
    -fx-background-color: #636e72;
    -fx-padding: 30px 0px 30px 0px;
}

.window-pattern-selected {
    -fx-background-color: #636e72;
}

.window-pattern-name {
    -fx-color : #ffffff;
    -fx-font-weight : bold;
    -fx-font-size : 1.1em;
    -fx-padding : 0.5em;
    -fx-background-color:#636e72;
}
.window-pattern-difficulty{
    -fx-background-color:#636e72;
}
.window-pattern-margin{
    -fx-padding:15;
    -fx-background-color:#2d3436;
}
/*------------------FINE WINDOWS PATTERN--------------------------------------------------------*/



.margin-5-pc-no-bottom {
    -fx-padding : 15 15 0 15;
}
.private-card {
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.public-card {
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.tool-card {
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

.tool-card-selected {
    -fx-background-color: #111111;
    -fx-background-position: center;
    -fx-background-size: 90% 90%;
    -fx-background-repeat: no-repeat;
}

.blue-one {
    -fx-background-image: url("../images/die/Blue1.jpg");
}

.blue-two {
    -fx-background-image: url("../images/die/Blue2.jpg");
}

.blue-three {
    -fx-background-image: url("../images/die/Blue3.jpg");
}

.blue-four {
    -fx-background-image: url("../images/die/Blue4.jpg");
}

.blue-five {
    -fx-background-image: url("../images/die/Blue5.jpg");
}

.blue-six {
    -fx-background-image: url("../images/die/Blue6.jpg");
}

.red-one {
    -fx-background-image: url("../images/die/Red1.jpg");
}

.red-two {
    -fx-background-image: url("../images/die/Red2.jpg");
}

.red-three {
    -fx-background-image: url("../images/die/Red3.jpg");
}

.red-four {
    -fx-background-image: url("../images/die/Red4.jpg");
}

.red-five {
    -fx-background-image: url("../images/die/Red5.jpg");
}

.red-six {
    -fx-background-image: url("../images/die/Red6.jpg");
}

.green-one {
    -fx-background-image: url("../images/die/Green1.jpg");
}

.green-two {
    -fx-background-image: url("../images/die/Green2.jpg");
}

.green-three {
    -fx-background-image: url("../images/die/Green3.jpg");
}

.green-four {
    -fx-background-image: url("../images/die/Green4.jpg");
}

.green-five {
    -fx-background-image: url("../images/die/Green5.jpg");
}

.green-six {
    -fx-background-image: url("../images/die/Green6.jpg");
}

.yellow-one {
    -fx-background-image: url("../images/die/Yellow1.jpg");
}

.yellow-two {
    -fx-background-image: url("../images/die/Yellow2.jpg");
}

.yellow-three {
    -fx-background-image: url("../images/die/Yellow3.jpg");
}

.yellow-four {
    -fx-background-image: url("../images/die/Yellow4.jpg");
}

.yellow-five {
    -fx-background-image: url("../images/die/Yellow5.jpg");
}

.yellow-six {
    -fx-background-image: url("../images/die/Yellow6.jpg");
}

.purple-one {
    -fx-background-image: url("../images/die/Purple1.jpg");
}

.purple-two {
    -fx-background-image: url("../images/die/Purple2.jpg");
}

.purple-three {
    -fx-background-image: url("../images/die/Purple3.jpg");
}

.purple-four {
    -fx-background-image: url("../images/die/Purple4.jpg");
}

.purple-five {
    -fx-background-image: url("../images/die/Purple5.jpg");
}

.purple-six {
    -fx-background-image: url("../images/die/Purple6.jpg");
}

.space {
    -fx-background-color: #636e72;
    -fx-background-position: center;
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
}

.space-selected{
    -fx-background-color: #2d3436;
    -fx-background-position: center;
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
}


.space-highlighted {
    -fx-background-color: #f7d794;
    -fx-background-position: center;
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
}

.space-blank {
    -fx-background-image: url("../images/die/nullnull.jpg");
}

.space-blue {
    -fx-background-image: url("../images/die/Bluenull.jpg");
}

.space-red {
    -fx-background-image: url("../images/die/Rednull.jpg");
}

.space-yellow {
    -fx-background-image: url("../images/die/Yellownull.jpg");
}

.space-green {
    -fx-background-image: url("../images/die/Greennull.jpg");
}

.space-purple {
    -fx-background-image: url("../images/die/Purplenull.jpg");
}

.space-one {
    -fx-background-image: url("../images/die/null1.jpg");
}

.space-two {
    -fx-background-image: url("../images/die/null2.jpg");
}

.space-three {
    -fx-background-image: url("../images/die/null3.jpg");
}

.space-four {
    -fx-background-image: url("../images/die/null4.jpg");
}

.space-five {
    -fx-background-image: url("../images/die/null5.jpg");
}

.space-six {
    -fx-background-image: url("../images/die/null6.jpg");
}

.tool-card-grozing-pliers {
    -fx-background-image: url("../images/toolcard/toolcard1.jpg");
}

.tool-card-eglomise-brush {
    -fx-background-image: url("../images/toolcard/toolcard2.jpg");
}

.tool-card-copper-foil-burnisher {
    -fx-background-image: url("../images/toolcard/toolcard3.jpg");
}

.tool-card-lathekin {
    -fx-background-image: url("../images/toolcard/toolcard4.jpg");
}

.tool-card-lens-cutter {
    -fx-background-image: url("../images/toolcard/toolcard5.jpg");
}

.tool-card-flux-brush {
    -fx-background-image: url("../images/toolcard/toolcard6.jpg");
}

.tool-card-glazing-hammer {
    -fx-background-image: url("../images/toolcard/toolcard7.jpg");
}

.tool-card-running-pliers {
    -fx-background-image: url("../images/toolcard/toolcard8.jpg");
}

.tool-card-cork-backed-straightedge {
    -fx-background-image: url("../images/toolcard/toolcard9.jpg");
}

.tool-card-grinding-stone {
    -fx-background-image: url("../images/toolcard/toolcard10.jpg");
}

.tool-card-flux-remover {
    -fx-background-image: url("../images/toolcard/toolcard11.jpg");
}

.tool-card-tap-wheel {
    -fx-background-image: url("../images/toolcard/toolcard12.jpg");
}

.private-card-purple {
    -fx-background-image: url("../images/privatecard/private1.jpg");
}

.private-card-red {
    -fx-background-image: url("../images/privatecard/private2.jpg");
}

.private-card-yellow {
    -fx-background-image: url("../images/privatecard/private3.jpg");
}

.private-card-green {
    -fx-background-image: url("../images/privatecard/private4.jpg");
}

.private-card-blue {
    -fx-background-image: url("../images/privatecard/private5.jpg");
}

.public-card-color-diagonals {
    -fx-background-image: url("../images/publiccard/colordiagonals.jpg");
}

.public-card-color-variety {
    -fx-background-image: url("../images/publiccard/colorvariety.jpg");
}

.public-card-column-color-variety {
    -fx-background-image: url("../images/publiccard/ccolorvariety.jpg");
}

.public-card-column-shade-variety {
    -fx-background-image: url("../images/publiccard/cshadevariety.jpg");
}

.public-card-deep-shades {
    -fx-background-image: url("../images/publiccard/deepshades.jpg");
}

.public-card-medium-shades {
    -fx-background-image: url("../images/publiccard/mediumshades.jpg");
}

.public-card-light-shades {
    -fx-background-image: url("../images/publiccard/lightshades.jpg");
}

.public-card-row-color-variety {
    -fx-background-image: url("../images/publiccard/rcolorvariety.jpg");
}

.public-card-row-shade-variety {
    -fx-background-image: url("../images/publiccard/rshadevariety.jpg");
}

.public-card-shade-variety {
    -fx-background-image: url("../images/publiccard/shadevariety.jpg");
}

.button-decrease-die {
    -fx-border-width : 5px;
    -fx-border-color : #d35400;
    -fx-background-color: #e67e22;
}

.button-decrease-die Label{
    -fx-text-fill: #ecf0f1;
    -fx-font-weight : bold;
    -fx-font-size : 1.1em;
    -fx-padding : 0.5em;
}

.button-increase-die {
    -fx-border-width : 5px;
    -fx-border-color : #27ae60;
    -fx-background-color: #2ecc71;
}

.button-increase-die Label{
    -fx-text-fill: #ecf0f1;
    -fx-font-weight : bold;
    -fx-font-size : 1.1em;
    -fx-padding : 0.5em;
}

.margin-5-pc {
    -fx-padding : 15;
}

Label{
    -fx-font-weight : bold;
    -fx-font-size : 1.1em;
}
/*------------------------INFOBOX-------------------------------------------------------------------------------->*/
.info-box {
    -fx-border-width:5px;
}
.info-box Label{
    -fx-font-weight:bold;
    -fx-font-size: 1.1em;
}
.info-box GridPane{
    -fx-background-color:#dfe6e9;
}
.button-info-box-active{
    -fx-border-width : 5px;
    -fx-border-color : #27ae60;
    -fx-background-color: #2ecc71;
}
.button-info-box-notactive{
    -fx-border-width:5px;
    -fx-border-color:#d63031;
    -fx-background-color:#ff7675;
}
.info-box-darklabel{
    -fx-background-color:#636e72;
    -fx-padding:5px;
}
.info-box-darklabel Label{
    -fx-text-fill:#dfe6e9;
}
.info-box-lightlabel{
    -fx-background-color:#b2bec3;
}
.info-box-lightlabel Lable{
    -fx-text-fill:#2d3436;
}
/*------------------------FINE INFOBOX------------------------------------------------------------------------------->*/
/*-------------------------ROUND TRACK--------------------------------------------------------------------------------*/

.round-track-secondary{
    -fx-background-color:#dfe6e9;
}
.round-track-main{
    -fx-background-color:#b2bec3;
}