#windowPattern{
    -fx-background-image: url(../images/sfondo.jpg);
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.logo{
    -fx-background-image: url(../images/logo-sagrada.png);
    -fx-background-position: center;
    -fx-background-size: 50% 80%;
    -fx-background-repeat: no-repeat;
}

#roundTrack{
    -fx-background-image: url(../images/roundTrack.jpg);
    -fx-background-size: 640px 127px
}
#draftPool{
    -fx-background-color: red;
}
#cardBoard{
    -fx-background-color:red;
}
.windowPatternSpaces{

}
.die{
    -fx-background-position: center;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
}

.die-selected{
    -fx-background-color: #e67e22;
    -fx-background-position: center;
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
}

.die:hover {
}

.draftpool {
    -fx-background-color: #f1c40f;
    -fx-padding : 5%;
}


.window-pattern {
    -fx-background-color: #000000;
}

.blue-one {
    -fx-background-image: url("../images/Die/Blue1.jpg");
}

.blue-two {
    -fx-background-image: url("../images/Die/Blue2.jpg");
}

.blue-three {
    -fx-background-image: url("../images/Die/Blue3.jpg");
}

.blue-four {
    -fx-background-image: url("../images/Die/Blue4.jpg");
}

.blue-five {
    -fx-background-image: url("../images/Die/Blue5.jpg");
}

.blue-six {
    -fx-background-image: url("../images/Die/Blue6.jpg");
}

.red-one {
    -fx-background-image: url("../images/Die/Red1.jpg");
}

.red-two {
    -fx-background-image: url("../images/Die/Red2.jpg");
}

.red-three {
    -fx-background-image: url("../images/Die/Red3.jpg");
}

.red-four {
    -fx-background-image: url("../images/Die/Red4.jpg");
}

.red-five {
    -fx-background-image: url("../images/Die/Red5.jpg");
}

.red-six {
    -fx-background-image: url("../images/Die/Red6.jpg");
}

.green-one {
    -fx-background-image: url("../images/Die/Green1.jpg");
}

.green-two {
    -fx-background-image: url("../images/Die/Green2.jpg");
}

.green-three {
    -fx-background-image: url("../images/Die/Green3.jpg");
}

.green-four {
    -fx-background-image: url("../images/Die/Green4.jpg");
}

.green-five {
    -fx-background-image: url("../images/Die/Green5.jpg");
}

.green-six {
    -fx-background-image: url("../images/Die/Green6.jpg");
}

.yellow-one {
    -fx-background-image: url("../images/Die/Yellow1.jpg");
}

.yellow-two {
    -fx-background-image: url("../images/Die/Yellow2.jpg");
}

.yellow-three {
    -fx-background-image: url("../images/Die/Yellow3.jpg");
}

.yellow-four {
    -fx-background-image: url("../images/Die/Yellow4.jpg");
}

.yellow-five {
    -fx-background-image: url("../images/Die/Yellow5.jpg");
}

.YELLOW-SIX {
    -fx-background-image: url("../images/Die/Yellow6.jpg");
}

.purple-one {
    -fx-background-image: url("../images/Die/Purple1.jpg");
}

.purple-two {
    -fx-background-image: url("../images/Die/Purple2.jpg");
}

.purple-three {
    -fx-background-image: url("../images/Die/Purple3.jpg");
}

.purple-four {
    -fx-background-image: url("../images/Die/Purple4.jpg");
}

.purple-five {
    -fx-background-image: url("../images/Die/Purple5.jpg");
}

.purple-six {
    -fx-background-image: url("../images/Die/Purple6.jpg");
}

.space {
    -fx-background-position: center;
    -fx-background-size: 60% 60%;
    -fx-background-repeat: no-repeat;
}

.space-blank {
    -fx-background-color : #ffffff;
}

.space-blue {
    -fx-background-color : #3498db;
}

.space-red {
    -fx-background-color : #e74c3c;
}

.space-yellow {
    -fx-background-color : #f1c40f;
}

.space-green {
    -fx-background-color : #2ecc71;
}

.space-purple {
    -fx-background-color : #8e44ad;
}

.space-one {
    -fx-background-image: url("../images/Die/Purple1.jpg");
}

.space-two {
    -fx-background-image: url("../images/Die/Purple2.jpg");
}

.space-three {
    -fx-background-image: url("../images/Die/Purple3.jpg");
}

.space-four {
    -fx-background-image: url("../images/Die/Purple4.jpg");
}

.space-five {
    -fx-background-image: url("../images/Die/Purple5.jpg");
}

.space-six {
    -fx-background-image: url("../images/Die/Purple6.jpg");
}